.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.Navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Navbar button {
  margin: 0 3rem;
  font-size: 1.5rem;
  text-align: center;
}
.Middle {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  background: rgb(202, 201, 201);
  position: relative;
  overflow: hidden;
 
}


.Footer {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
}
.upper {
  display: flex;
  gap: 3rem;
  justify-content: center;
  text-align: center;
  border-bottom: 2px sold grey;
  padding: 8px 0px;
}
.fontSelector {
  
}

.Incr-Decre {
}

.fontStyle button {
  margin: 0px 5px;
  border: none;
  cursor: pointer;
}

.lower {
  display: flex;
  border-top: 2px solid grey;
  justify-content: center;
  text-align: center;

  padding: 8px 0px;
}
.lower button{
  padding: 2px 8px;
  cursor: pointer;
}

button:focus, input:focus, select:focus {
  outline: none;
}
